In [1]:
# take a look of the data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
# read the txt file into a dataframe, give the column names ['timestamp','nodeid','temperature','humidity','light','voltage']
raw_data = pd.read_csv('./data/labapp3-data-new.txt', sep=' ', names=['timestamp','nodeid','temperature','humidity','light','voltage'])

In [93]:
# remove first row
data = raw_data[1:]
# use the first 1000 rows for the analysis
# data = data[:100000]
data

         timestamp  nodeid  temperature  humidity      light  voltage
1               30    19.0      19.7336   37.0933   71.76000  2.69964
2               30    25.0      19.6160   37.5737   97.52000  2.69964
3               30    24.0      19.7728   37.1620  143.52000  2.71196
4               30     3.0      20.2040   36.8871   50.60000  2.69964
5               30    28.0      19.0476   40.0945        NaN  2.80151
...            ...     ...          ...       ...        ...      ...
2313677    3232930    56.0      23.4968   35.8530    0.04022  2.81479
2313678    3232960    56.0      23.4968   35.8530    0.04022  2.81479
2313679    3232990    56.0      23.4772   35.8530    0.04022  2.82819
2313680    3233020    56.0      23.4968   35.8530    0.04022  2.81479
2313681    3233050    56.0      23.5360   36.4396   37.72000  2.80151

[2313681 rows x 6 columns]

In [95]:
# find duplicated rows
duplicated = data.duplicated(keep=False)
data[duplicated]
# duplicated = duplicated[duplicated == True]
# print('duplicated rows:', duplicated)
# remove dupilicated rows
# data = data.drop_duplicates()

         timestamp  nodeid  temperature  humidity   light  voltage
48699        49530    46.0      23.8398   33.8744  566.72  2.54901
48701        49530     2.0      23.4380   34.8834  426.88  2.71196
48704        49530    46.0      23.8398   33.8744  566.72  2.54901
48705        49530     2.0      23.4380   34.8834  426.88  2.71196
48710        49530    27.0      25.4470   29.6139  279.68  2.74963
...            ...     ...          ...       ...     ...      ...
2312317    2929550    30.0     122.1530   -4.0000  114.08  2.05509
2312320    2929560    25.0     122.1530   -4.0000  128.80  2.02703
2312325    2929560    25.0     122.1530   -4.0000  128.80  2.02703
2312985    2932710    34.0          NaN       NaN     NaN  2.12875
2312986    2932710    34.0          NaN       NaN     NaN  2.12875

[744 rows x 6 columns]

In [88]:
# check subset duplicates
data_subset = data[['timestamp','nodeid','temperature']]

In [89]:
# find duplicated rows
duplicated = data_subset.duplicated()
# duplicated = duplicated[duplicated == True]
print('duplicated rows:', duplicated)

duplicated rows: 1          False
2          False
3          False
4          False
5          False
           ...
2313677    False
2313678    False
2313679    False
2313680    False
2313681    False
Length: 2313681, dtype: bool

In [91]:
# show the first 5 rows of the data
data_subset[duplicated==True].head(10)

        timestamp  nodeid  temperature
48704       49530    46.0      23.8398
48705       49530     2.0      23.4380
48711       49530    27.0      25.4470
48721       49530    34.0      24.8884
48725       49530     6.0      23.0166
215074     201270    14.0      22.8500
251518     234570    17.0      22.7716
252539     235500    46.0      20.9782
255025     237720     3.0      21.5956
257213     239760    46.0      20.5666

In [84]:
# select nodeid ==3
data_subset = data[data['nodeid']==3]
duplicated = data_subset.duplicated()

In [86]:
data_subset[duplicated==True]

Empty DataFrame
Columns: [timestamp, nodeid, temperature, humidity, light, voltage]
Index: []

In [58]:
# plot the data as heat map using nodeid as y-axis and timestamp as x-axis
# the color represents the voltage
# the data is not sorted by nodeid

plt.figure(figsize=(10,5))
sns.heatmap(data.pivot(index='nodeid', columns='timestamp', values='temperature'), cmap='coolwarm')

ValueError: Index contains duplicate entries, cannot reshape

In [54]:
# the max timestamp
max_timestamp = data['timestamp'].max()

In [55]:
# timestamp is in seconds, convert it to hours
max_hour = max_timestamp / 3600
print('max hour:', max_hour)

max hour: 898.0694444444445

In [56]:
# to days
max_day = max_hour / 24
print('max day:', max_day)

max day: 37.41956018518518